    <ul class="template__group list">
    {{#each this}}<li><img src="{{this.flags.svg}}" alt="flag" width="50px" height="40px"></li>
    <li><p class="template__category template__category-name">{{this.name.common}}</p></li>{{/each}}
    </ul>

    